spring:
  application:
    name: gms-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/gms_database
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
jwt:
  secret-key: "your_jwt_secret_key
  expiration: 3600000